:root {
    --general-width: 72rem;
    --primary-color: #f5f5f5;
    --secondary-color: #202020;
    --accent-color: royalblue;
    --border-color: gainsboro;
}

html {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 16px;
}

body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to bottom, #202020, #303030);
}

#nav {
    height: 2rem;
    color: #f5f5f5;
    background-color: rgba(255, 255, 255, 0.05);
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    max-width: 72rem;
    margin: 0 auto;
}

#nav a{
    text-decoration: none;
    color: #f5f5f5;
}
#nav a:hover{
    color: royalblue;
    text-decoration: underline;
}

.nav-divider{
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25);
}

.gray-line{
    height: 1px;
    background-color: gainsboro;
}

#nav_left{
    font-family: "Reddit Sans", sans-serif;
    font-size: 1.25rem;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 250px;
}

#nav_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 230px;
}

#nav_right a{
    margin: 0px 15px;
}

#nav_right button{
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 25%;
    background-color: white;
    padding: 0px;
    margin: 0px 15px;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

#nav_right button:hover{
    color:royalblue;
    text-decoration: underline;
}

#nav_right button .category-menu{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    z-index: 1;
    position: absolute;
    top: 25px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.1);
    width: 150px;
}

#shopping-cart-icon{
    height: 20px;
}

.chevron-down{
    height:8px
}