
.hidden{
    display: none;
}

.body-noscroll{
    overflow: hidden;
}

.active {
    background-color: var(--selected-color);
}

#main{
    max-width: 72rem;
    margin: 0 auto;
}

#main h1{
    font-family: "Reddit Sans", sans-serif;
    color: var(--primary-color);
    font-size: 2rem;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    margin: 40px 0px 30px 10px;
}

#section-0{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    color: var(--primary-color);
    margin: 20px auto;
}

#section-0 div{
    padding: 0.5rem;
    width: 16rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

#section-0 label{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 1rem;
    color: var(--secondary-color);
    height: 1rem;
    margin: auto 0px;
    pointer-events: none;
}

#section-0 button{
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    border: 1px solid;
    border-color: var(--light-border-color);
    border-radius: 0.25rem;
    color: var(--primary-color);
    background-color: var(--invisible-color);
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#section-0 button:hover{
    color: var(--accent-color);
    text-decoration: none;
    border-color: var(--selected-color-full);
    background-color: var(--background-color);
}

#section-0 img{
    height: 1rem;
    transition: transform 0.5s ease;
    filter: invert(var(--invert-percentage))
}

#section-0 img.flipped{
    transform: rotate(180deg);
}

#section-0 .menu{
    position: absolute;
    display: none;
    transform: translate(-0.15rem, 3rem);
    padding: 0px;
    border: 1px solid;
    border-color: var(--light-border-color);
    border-radius: 0.25rem;
    color: var(--primary-color);
    background-color: var(--menu-color);
    z-index: 5;
}

#section-0 .menu.open {
    display: block;
}

#section-0 .menu button{
    transition: color 0s ease, background-color 0s ease, border-color 0s ease;
    font-size: 0.9em;
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    align-items: center;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-radius: 0px;
}

#section-0 .menu button:hover{
    border-color: var(--light-border-color);
}

#section-0 .menu button.selected div{
    background-color: var(--selected-color-full);
}

#section-0 .menu button.last{
    font-size: 0.8em;
    color: var(--secondary-color);
    border-bottom-width: 0px;
}

#section-0 .menu button.last.disabled{
    cursor: default;
    color: var(--secondary-color);
}

#section-0 .menu button.last.disabled:hover{
    background-color: transparent;
}

#section-0 .menu button.last-no-clear{
    border-bottom-width: 0px;
}

#section-0 .menu button div{
    width: auto;
    display: block;
    border-radius: 25%;
    background-color: var(--a-background-color);
    padding: 0px;
    margin: 0px;
    width: 0.9rem;
    height: 0.9rem;
    transition: background-color 0.3s ease;
}

#section-0 .menu button.radio div{
    border-radius: 50%;
}

#section-0 .menu button.radio.selected div{
    background-color: var(--selected-color-full);
}

#section-0 .menu div{
    width: auto;
    display: block;
}

#section-0 input{
    cursor: pointer;
}

#section-0 .menu label{
    color: var(--primary-color);
    cursor: pointer;
}

#section-1{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(250px, auto);
    column-gap: 1rem;
    row-gap: 1rem;
    color: var(--primary-color);
    margin: 40px auto;
}

#section-1 .card{
    opacity: 1;
    display: block;
    visibility: visible;
    color: var(--primary-color);
    background-color: var(--background-color);
    border-radius: 1rem;
    text-decoration: none;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease, display 1s allow-discrete;
}

#section-1 .card.hidden{
    display: none;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease, display 1s allow-discrete;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(0.96);
}

@starting-style{
    #section-1 .card{
        opacity: 0;
    }
    #section-1 .card.hidden{
        opacity: 1;
    }
}

#section-1 .card:hover{
    transform: scale(1.05);
}

#section-1 .card img{
    width: 100%;
    height: 425px;
    object-position: center;
    object-fit: cover;
    overflow: hidden;
    border-radius: 1rem;
}

#section-1 .card .img-carousel{
    position: relative;
    overflow: hidden;
    border-radius: inherit;
}

#section-1 .card .left{
    position: absolute;
    top: 50%;
    left: 0.5rem;
}


#section-1 .card .right{
    position: absolute;
    top: 50%;
    right: 0.5rem;
}

#section-1 .card .img-carousel button{
    transition: background-color 0.3s ease;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    border: 0px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

#section-1 .card .img-carousel button img{
    height: 100%;
    display: block;
    margin: auto;
}

#section-1 .card .img-carousel button:hover{
    background-color: var(--selected-color);
}

#section-1 .title-date{
    display: flex;
    margin: 0.7rem 0.75rem 0.5rem 0.75rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

#section-1 h1{
    margin: 0px;
    font-size: 1.25rem;
    text-align: left;
}

#section-1 .date{
    color:var(--secondary-color);
    font-size: 0.8rem;
    flex-shrink: 0;
}

#section-1 .tags{
    margin: 0px 0.75rem 0.75rem 0.75rem;
    font-size: 0.7rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}

#section-1 .tags span{
    background-color: var(--background-color);
    border-radius: 0.3rem;
    padding: 0.3rem;
}

#modal-view{
    opacity: 0;
    display: none;
    transition: opacity 0.5s ease,
                display 1s allow-discrete;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);

    z-index: 2;
    margin: 0px;
    padding: 0px;
}

#modal-view.visible{
    display: block;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

#modal-view-sub{
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: calc(min(60%, 72rem));
    height: auto;
    max-height: 90vh;
    overflow-y: auto;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--modal-background-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#modal-view-sub .title-date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#modal-view-sub .title-date h1{
    margin: 20px 0px;
    font-size: 1.5rem;
}

#modal-view-sub .title-date .date{
    color:var(--secondary-color);
    font-size: 0.8rem;
    flex-shrink: 0;
}

#modal-view-sub .tags{
    font-size: 0.7rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}

#modal-view-sub .tags span{
    background-color: var(--modal-background-color);
    border-radius: 0.3rem;
    padding: 0.3rem;
}

#modal-view-sub .img-carousel{
    position: relative;
    height: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--modal-background-color);
    margin: 1rem 0px;
    border-radius: 1rem;
    overflow: hidden;
}

#modal-view-sub img{
    display: block;
    max-width: 100%;
    max-height: 32rem;
    padding: 0px;
    object-fit: contain;
    object-position: center;
}

#modal-view-sub .img-carousel button{
    transition: background-color 0.3s ease;
    width: 2rem;
    height: 2rem;
    border-radius: 0.25rem;
    border: 0px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    
}

#modal-view-sub .img-carousel button:hover{
    background-color: var(--selected-color);
}

#modal-view-sub .left{
    position: absolute;
    top: 50%;
    left: 1rem;
}

#modal-view-sub .right{
    position: absolute;
    top: 50%;
    right: 1rem;
}

#modal-view-sub .drawing-info p{
    margin: 0px;
    text-align: justify;
}

@media (min-width:1921px){

    #modal-view-sub img{
        max-height: 40rem;
    }

    #modal-view-sub .img-carousel{
        height: 40rem;
    }

}

@media (min-width:2561px){

    #modal-view-sub img{
        max-height: 48rem;
    }

    #modal-view-sub .img-carousel{
        height: 48rem;
    }


}

@media (max-width:1280px){

    #section-0{
        width: 90%;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    #section-1{
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
    }

    h1{
        margin: 40px 0px 30px 0px;
        text-align: center;
    }

    #modal-view-sub img{
        max-height: 24rem;
    }

    #modal-view-sub .img-carousel{
        height: 24rem;
    }

    #modal-view-sub{
        width: 80%;
    }

    #modal-view-sub h1{
        text-align: left;
    }

}

@media (max-width:960px){

    #section-0{
        flex-direction: column;
        align-items: center;
        gap: 0.75rem;
    }

    #section-0 div{
        width: 90%;
    }

    #section-0 label{
        font-size: 1.5rem;
    }

    #section-0 button{
        font-size: 1.5rem;
    }

    #section-0 .menu{
        transform: translate(-2.75rem, 3rem);
    }

    #section-0 .menu button{
        font-size: 1.5em;
    }

    #section-0 .menu button.last{
        font-size: 1.2em;
    }

    #main h1{
        margin: 20px 0px 20px 0px;
        font-size: 3rem;
    }

    #section-1 h1{
        margin: 0px;
        font-size: 2rem;
    }

    #section-1 .date{
        font-size: 1rem;
    }

    #section-1 .tags{
        font-size: 0.9rem;
    }

    #modal-view-sub{
        width: 90%;
    }

    #modal-view-sub .title-date h1{
        font-size: 2.25rem;
    }

    #modal-view-sub .title-date .date{
        font-size: 1rem;
    }

    #modal-view-sub .tags{
        font-size: 0.9rem;
    }

    #modal-view-sub .drawing-info p{
        font-size: 1.2rem;
    }

}

@media (max-width:640px){

    #section-0 div{
        width: 95%;
    }

    #section-0 .menu{
        transform: translate(-1rem, 3rem);
    }

    #section-1{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width:480px)  {
    #section-0{
        width: 95%;
    }

    #section-1{
        width: 95%;
    }

    #modal-view-sub{
        width: 95%;
    }
}