:root {
    --general-width: 72rem;
    --dark-mode-percentage: 100%;
}

[data-theme="dark"] {
    --primary-color: #f5f5f5;
    --secondary-color: #aaaaaa;
    --background-color: rgba(255, 255, 255, 0.05);
    --a-background-color: rgba(255, 255, 255, 0.2);
    --accent-color: #ffffff;
    --selected-color: #32af628c;
    --selected-color-full: #32af62;
    --border-color: #dcdcdc;
    --light-border-color: rgba(255, 255, 255, 0.1);
    --invisible-color: rgba(255, 255, 255, 0.0);
    --menu-color: #28342a;
    --background-gradient: linear-gradient(to bottom, #1c291f, #171920);
    --modal-background-color: #3f504354;
    --invert-percentage: 100%;
}

[data-theme="light"] {
    --primary-color: #000000;
    --secondary-color: #222222;
    --background-color: rgba(255, 255, 255, 0.3);
    --a-background-color: rgba(0, 0, 0, 0.2);
    --accent-color: #000000;
    --selected-color: #32af628c;
    --selected-color-full: #32af62;
    --border-color: #333333;
    --light-border-color: rgba(0, 0, 0, 0.2);
    --invisible-color: rgba(255, 255, 255, 0.0);
    --menu-color: #d8eedd;
    --background-gradient: linear-gradient(to bottom, #c7e7ce, #c2c8e2);
    --modal-background-color: #c7e7cec2;
    --invert-percentage: 0%;
}

html {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 16px;
}

body {
    margin: 0px;
    padding: 0px;
    background: var(--background-gradient);
}

.hidden{
    display: none;
}

#nav {
    height: 53.5px;
    color: var(--primary-color);
    background-color: var(--background-color);
    font-size: 1rem;
}

#nav-container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    max-width: 72rem;
    margin: 0 auto;
}

#nav a{
    padding: 0.5rem;
    border-radius: 0.25rem;
    text-decoration: none;
    color: var(--primary-color);
}

#nav a:hover{
    transition: background-color 0.3s ease;
    background-color: var(--a-background-color);
    color: var(--accent-color);
}

.nav-divider{
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25);
}

#nav_left{
    font-family: "Reddit Sans", sans-serif;
    font-size: 1.25rem;
    font-weight: 900;
}

#nav_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 15rem;
}

#nav_right a{
    margin: 0px 0.5rem;
}

#nav_right button{
    border: none;
    border-radius: 25%;
    background-color: var(--a-background-color);
    padding: 0px;
    margin: 0px 10px;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#nav_right button:hover{
    background-color: var(--primary-color);
    transition: background-color 0.3s ease;
    --dark-mode-percentage: 0%;
}

#nav_right button img{
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    margin: auto;
    transition: filter 0.3s ease;
}

#dark{
    filter: invert(var(--dark-mode-percentage));
}

#light{
    filter: invert(calc(100% - var(--dark-mode-percentage)));
}

#nav_right button img.hidden{
    display: none;
}

@media (max-width: 480px){

    html{
        font-size: 12px;
    }

    #nav {
        height: 39px;
    }

    #nav_right{
        min-width: 0px;
    }

    #nav_right a{
        margin: 0px 5px;
    }
}