/* reddit-sans-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Reddit Sans";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/reddit-sans-v6-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-sans-v42-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-sans-mono-v37-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --general-width: 72rem;
  --dark-mode-percentage: 100%;
}

html {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  background: var(--background-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--body-background-color);
}

.hidden {
  display: none;
}

.body-noscroll {
  overflow: hidden;
}

#main {
  max-width: 72rem;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: "Reddit Sans", Arial, Helvetica, sans-serif;
}

p {
  line-height: 1.5;
}

button {
  font-family: "Noto Sans", sans-serif;
}

label {
  font-family: "Noto Sans", sans-serif;
}

input[type=number] {
  font-family: "Noto Sans Mono", sans-serif;
}

input[type=text] {
  font-family: "Noto Sans Mono", sans-serif;
}

textarea {
  font-family: "Noto Sans Mono", sans-serif;
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
:root {
  --modal-external-background-color: rgba(0, 0, 0, 0.7);
}

[data-theme=dark] {
  --primary-color: #f5f5f5;
  --secondary-color: #aaaaaa;
  --background-color: rgba(255, 255, 255, 0.05);
  --a-background-color: rgba(255, 255, 255, 0.2);
  --accent-color: #ffffff;
  --selected-color: #32af628c;
  --selected-color-full: #32af62;
  --border-color: #dcdcdc;
  --light-border-color: rgba(255, 255, 255, 0.1);
  --invisible-color: rgba(255, 255, 255, 0.0);
  --menu-color: #28342a;
  --background-gradient: linear-gradient(to bottom, #1c291f, #171920);
  --body-background-color: #171920;
  --modal-background-color: #3f504354;
  --invert-percentage: 100%;
  --error-color-full: #ff4d4d;
}

[data-theme=light] {
  --primary-color: #000000;
  --secondary-color: #464646;
  --background-color: rgba(255, 255, 255, 0.3);
  --a-background-color: rgba(0, 0, 0, 0.2);
  --accent-color: #000000;
  --selected-color: #32af628c;
  --selected-color-full: #2b9955;
  --border-color: #222222;
  --light-border-color: rgba(0, 0, 0, 0.2);
  --invisible-color: rgba(255, 255, 255, 0.0);
  --menu-color: #d8eedd;
  --background-gradient: linear-gradient(to bottom, #c7e7ce, #c2c8e2);
  --body-background-color: #c2c8e2;
  --modal-background-color: #c7e7cec2;
  --invert-percentage: 0%;
  --error-color-full: #912020;
}

.active {
  background-color: var(--selected-color);
}

#nav {
  height: 53.5px;
  color: var(--primary-color);
  background-color: var(--background-color);
  font-size: 1rem;
}
#nav #nav-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  max-width: 72rem;
  margin: 0 auto;
}
#nav a {
  padding: 0.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
  color: var(--primary-color);
}
#nav a:hover {
  transition: background-color 0.3s ease;
  background-color: var(--a-background-color);
  color: var(--accent-color);
}
#nav #nav_left {
  font-family: "Reddit Sans", sans-serif;
  font-size: 1.25rem;
}
#nav #nav_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 15rem;
}
#nav #nav_right a {
  margin: 0px 0.5rem;
}
#nav #nav_right button {
  border: none;
  border-radius: 25%;
  background-color: var(--a-background-color);
  padding: 0px;
  margin: 0px 10px;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#nav #nav_right button:hover {
  background-color: var(--primary-color);
  transition: background-color 0.3s ease;
  --dark-mode-percentage: 0%;
}
#nav #nav_right button img {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  margin: auto;
  transition: filter 0.3s ease;
}
#nav #nav_right button img.hidden {
  display: none;
}
#nav #nav_right button #dark {
  filter: invert(var(--dark-mode-percentage));
}
#nav #nav_right button #light {
  filter: invert(calc(100% - var(--dark-mode-percentage)));
}

@media (max-width: 480px) {
  #nav {
    height: 39px;
  }
  #nav #nav_right {
    min-width: 0px;
  }
  #nav #nav_right a {
    margin: 0px 5px;
  }
}
h1 {
  color: var(--primary-color);
  font-size: 2rem;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  margin: 40px 0px 30px 10px;
}

h2 {
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  margin: 40px 0px 30px 0px;
}

p {
  color: var(--primary-color);
}

span {
  color: var(--primary-color);
}

#section-0 {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  color: var(--primary-color);
  margin: 20px auto;
}
#section-0 a {
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  text-decoration: none;
  text-align: center;
  border: 1px solid;
  border-color: var(--light-border-color);
  border-radius: 0.25rem;
  color: var(--primary-color);
  background-color: var(--invisible-color);
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
}
#section-0 a:hover {
  color: var(--accent-color);
  text-decoration: none;
  border-color: var(--selected-color-full);
  background-color: var(--background-color);
}
#section-0 a.active {
  color: var(--accent-color);
  text-decoration: none;
  border-color: var(--selected-color-full);
  background-color: var(--background-color);
  cursor: default;
}

@media (max-width: 1280px) {
  #section-0 {
    width: 90%;
    margin: 0px auto;
  }
}
@media (max-width: 960px) {
  #section-0 {
    gap: 1rem;
  }
  #section-0 a {
    font-size: 1.2rem;
  }
}
@media (max-width: 480px) {
  #section-0 {
    width: 95%;
  }
}
#footer {
  background-color: var(--background-color);
  color: var(--primary-color);
  height: 200px;
  display: flex;
  justify-content: center;
}
#footer #footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  max-width: 72rem;
  margin: 25px 10px 5px 10px;
}
#footer #footer-container h1 {
  font-family: "Reddit Sans", sans-serif;
  font-size: 2em;
  margin: 0px;
}
#footer #footer-container p {
  color: var(--secondary-color);
  margin: 12px 0px 16px 0px;
}
#footer #footer-container a {
  padding: 0.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
  color: var(--primary-color);
  margin: 10px 0px;
}
#footer #footer-container a:hover {
  color: var(--accent-color);
  transition: background-color 0.3s ease;
  background-color: var(--a-background-color);
}

@media (max-width: 960px) {
  #footer-container a {
    font-size: 1.5rem;
  }
}
[data-theme=dark] {
  --start-color: rgba(50, 175, 98, 0.2);
  --pause-color: rgba(175, 173, 50, 0.2);
  --reset-color: rgba(175, 50, 50, 0.2);
}

[data-theme=light] {
  --start-color: rgba(50, 175, 98, 0.2);
  --pause-color: rgba(175, 173, 50, 0.2);
  --reset-color: rgba(175, 50, 50, 0.2);
}

#section-1 {
  margin: 2rem 0px 4rem 0px;
}
#section-1 h1 {
  margin: 30px 0px 30px 10px;
}
#section-1 #title-bar {
  margin: 1rem 0px;
}
#section-1 #title-bar span {
  color: var(--secondary-color);
}
#section-1 #img-and-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem 0px;
  height: 40rem;
  background-color: var(--background-color);
  border-radius: 1rem;
}
#section-1 #img-and-buttons h1 {
  margin: 30px 0px;
}
#section-1 #img-and-buttons img {
  height: 38rem;
  display: block;
  margin: 1rem;
  margin-right: 2rem;
  width: 45%;
  object-fit: contain;
}
#section-1 #img-and-buttons #timer-and-score {
  margin: 1rem;
  margin-left: 2rem;
  width: 28rem;
}
#section-1 #img-and-buttons #timer-block h1 {
  margin-top: 0px;
  text-align: center;
}
#section-1 #img-and-buttons #timer-block #timer-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#section-1 #img-and-buttons #timer-block #timer-input input[type=number] {
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  border: 1px solid;
  border-color: var(--light-border-color);
  border-radius: 0.25rem;
  color: var(--primary-color);
  background-color: var(--invisible-color);
  font-size: 1.5rem;
  padding: 0.5rem;
  width: auto;
  cursor: pointer;
  text-align: center;
  margin: 0px 1rem;
}
#section-1 #img-and-buttons #timer-block #timer-input input[type=number]::-webkit-outer-spin-button, #section-1 #img-and-buttons #timer-block #timer-input input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#section-1 #img-and-buttons #timer-block #timer-input input[type=number][type=number] {
  -moz-appearance: textfield;
}
#section-1 #img-and-buttons #timer-block #timer-input input[type=number]:focus {
  border-color: var(--selected-color-full);
}
#section-1 #img-and-buttons #timer-block #timer-input span {
  font-family: "Noto Sans Mono", sans-serif;
  font-size: 1.5rem;
}
#section-1 #img-and-buttons #timer-block #timer-input.hidden {
  display: none;
}
#section-1 #img-and-buttons #timer-block #timer {
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  font-family: "Noto Sans Mono", sans-serif;
  border: 1px solid;
  border-color: var(--light-border-color);
  border-radius: 0.25rem;
  color: var(--primary-color);
  background-color: var(--invisible-color);
  font-size: 1.5rem;
  padding: 0.5rem;
  width: auto;
  text-align: center;
}
#section-1 #img-and-buttons #timer-block #timer-buttons {
  margin: 1rem 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
#section-1 #img-and-buttons #timer-block #timer-buttons #start {
  background-color: var(--start-color);
}
#section-1 #img-and-buttons #timer-block #timer-buttons #pause {
  background-color: var(--pause-color);
}
#section-1 #img-and-buttons #timer-block #timer-buttons #reset {
  background-color: var(--reset-color);
}
#section-1 #img-and-buttons #score-block h1 {
  margin-top: 0px;
}
#section-1 #img-and-buttons button {
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  border: 1px solid;
  border-color: var(--light-border-color);
  border-radius: 0.25rem;
  color: var(--primary-color);
  background-color: var(--invisible-color);
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
}
#section-1 #img-and-buttons button:hover {
  color: var(--accent-color);
  text-decoration: none;
  border-color: var(--selected-color-full);
  background-color: var(--background-color);
}
#section-1 #img-and-buttons button:active {
  color: var(--accent-color);
  text-decoration: none;
  border-color: var(--selected-color-full);
  background-color: var(--background-color);
  cursor: default;
}
#section-1 #img-and-buttons #score-buttons {
  margin: 1rem 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
#section-1 #img-and-buttons #score-buttons #bad {
  background-color: var(--reset-color);
}
#section-1 #img-and-buttons #score-buttons #okay {
  background-color: var(--pause-color);
}
#section-1 #img-and-buttons #score-buttons #good {
  background-color: var(--start-color);
}
#section-1 #img-and-buttons #score-buttons.hidden {
  display: none;
}
#section-1 #img-and-buttons #checkmark {
  color: var(--primary-color);
  width: auto;
  margin: 1rem 0px;
  border: 1px solid;
  border-color: var(--light-border-color);
  border-radius: 0.25rem;
  color: var(--primary-color);
  background-color: var(--invisible-color);
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
}
#section-1 #img-and-buttons #checkmark.hidden {
  display: none;
}
#section-1 #img-and-buttons #skip {
  margin-top: 2rem;
  font-size: 1.5rem;
  background-color: var(--reset-color);
}
#section-1 #img-and-buttons #next {
  margin-top: 2rem;
  font-size: 1.5rem;
  background-color: var(--start-color);
}
#section-1 #img-and-buttons.hidden {
  display: none;
}
#section-1 #instructions-and-goal {
  margin: 1rem 0px;
  color: var(--border-color);
}
#section-1 #instructions-and-goal h1 {
  margin: 2rem 0px 2rem 0px;
}
#section-1 #instructions-and-goal h2 {
  margin: 1rem 0px 1rem 0px;
}
#section-1 #instructions-and-goal h3 {
  margin: 0.5rem 0px 0.5rem 0px;
  color: var(--secondary-color);
}
#section-1 #instructions-and-goal h4 {
  margin: 0.5rem 0px 0.5rem 0px;
  color: var(--secondary-color);
}
#section-1 #instructions-and-goal h5 {
  margin: 0.5rem 0px 0.5rem 0px;
  color: var(--secondary-color);
}
#section-1 #instructions-and-goal h6 {
  margin: 0.5rem 0px 0.5rem 0px;
  color: var(--secondary-color);
}
#section-1 #instructions-and-goal blockquote {
  margin: 1rem 0px 1rem 0px;
  padding: 0.5rem 1rem;
  border-left: 4px solid var(--selected-color);
  border-radius: 1rem;
  background-color: var(--background-color);
}
#section-1 #instructions-and-goal a {
  text-decoration: none;
  color: var(--selected-color-full);
}
#section-1 #instructions-and-goal a:hover {
  text-decoration: underline;
}
#section-1 #instructions-and-goal p {
  color: var(--border-color);
  text-align: justify;
  line-height: 1.5;
}
#section-1 #instructions-and-goal ul, #section-1 #instructions-and-goal ol {
  color: var(--border-color);
  line-height: 1.8;
}
#section-1 #instructions-and-goal ol {
  list-style-type: decimal;
}

@media (max-width: 1280px) {
  h1 {
    margin: 40px 0px 30px 0px;
    text-align: center;
  }
  #section-1 {
    width: 90%;
    margin: 2rem auto 4rem auto;
  }
  #section-1 #img-and-buttons img {
    margin-right: 1rem;
  }
  #section-1 #img-and-buttons #timer-and-score {
    margin-left: 1rem;
  }
  #section-1 #instructions-and-goal #instructions-content h1 {
    text-align: center;
  }
  #section-1 #instructions-and-goal #instructions-content h2 {
    text-align: center;
  }
  #section-1 #instructions-and-goal #instructions-content h3 {
    text-align: center;
  }
  #section-1 #instructions-and-goal #instructions-content h4 {
    text-align: center;
  }
  #section-1 #instructions-and-goal #instructions-content h5 {
    text-align: center;
  }
  #section-1 #instructions-and-goal #instructions-content h6 {
    text-align: center;
  }
}
@media (max-width: 960px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  #section-1 #title-bar span {
    font-size: 1.2rem;
  }
  #section-1 p {
    font-size: 1.2rem;
  }
  #section-1 #img-and-buttons {
    flex-direction: column;
    height: fit-content;
  }
  #section-1 #img-and-buttons img {
    margin-right: 1rem;
    margin-left: 1rem;
    height: auto;
    width: calc(100% - 2rem);
  }
  #section-1 #img-and-buttons #timer-and-score {
    margin-right: 1rem;
    margin-left: 1rem;
    width: calc(100% - 2rem);
  }
  #section-1 #img-and-buttons button {
    height: 3.4rem;
    font-size: 1.2rem;
  }
  #section-1 #img-and-buttons button span {
    font-size: 1.2rem;
  }
  #section-1 #img-and-buttons #checkmark {
    margin: 1rem 0px;
    font-size: 1.2rem;
    padding: 0.5rem;
    text-align: center;
  }
  #section-1 #img-and-buttons #checkmark.hidden {
    display: none;
  }
  #section-1 #img-and-buttons #skip {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  #section-1 #img-and-buttons #next {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  #section-1 #instructions-and-goal {
    font-size: 1.2rem;
  }
  #section-1 #instructions-and-goal h1 {
    text-align: left;
  }
}
@media (max-width: 480px) {
  #section-1 {
    width: 95%;
  }
}

/*# sourceMappingURL=warmups.css.map */
